body {
  width: 100vw;

  margin: 0;
  padding: 0;

  background-color: #e8ffe2;

  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#topMenu {
  position: fixed;
  top: 0;
  left: 50vw;
  transform: translate(-50%, 10vh);

  display: flex;

  color: #2d9bf0;
}

#topMenu h1 {
  font-size: 4vh;
}

#board {
  position: fixed;

  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);

  display: grid;
}

#bottomMenu {
  position: fixed;
  bottom: 0vh;
  left: 50vw;
  transform: translate(-50%, -14vh);

  visibility: hidden;
  display: flex;
  justify-content: space-between;

  font-size: 2vh;
}

#startMenu {
  width: 50vh;
  height: 30vh;

  position: fixed;
  bottom: 22vh;
  left: 50vw;
  transform: translate(-50%, -14vh);

  display: flex;

  background-color: rgba(39, 189, 245, 0.5);
}

#startMenu ul {
  width: 50vh;
  height: 30vh;

  position: fixed;
  bottom: 0vh;
  left: 0vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  line-height: 2;
  font-size: 3.3vh;
}

#slow {
  background-color: #fac710;
}

.cell {
  width: 4vh;
  height: 4vh;
  min-height: 2vh;
  min-width: 2vh;
  max-width: 4vw;
  max-height: 4vw;

  outline: 0.2vh solid black;

  background-color: #fffedc;

  /* color: #fac710; */
}

.snake {
  outline: 0.2vh solid black;

  background-color: blueviolet;
}

.food {
  width: 4vh;
  height: 4vh;
  min-height: 2vh;
  min-width: 2vh;
  max-width: 4vw;
  max-height: 4vw;

  display: flex;
  justify-content: center;
  align-items: center;

  outline: 0.2vh solid black;

  background-color: #fac710;
}

.food p {
  font-size: 2.7vh;
}
