body {
  width: 100vw;

  margin: 0;
  padding: 0;

  background-color: #e8ffe2;

  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#titleText {
  position: fixed;
  top: 0;
  left: 50vw;
  transform: translate(-50%, 10vh);

  display: flex;

  color: #2d9bf0;
}

#titleText h1 {
  font-size: 4vh;
}

#board {
  position: fixed;

  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);

  display: grid;
  animation: fadeIn 1s ease-in-out;
}

#bottomMenu {
  position: fixed;
  bottom: 0vh;
  left: 50vw;
  transform: translate(-50%, -14vh);

  /* visibility: hidden; */
  display: flex;
  justify-content: space-between;

  font-size: 2vh;
  animation: fadeIn 1s ease-in-out;
}

#errorMessage {
  position: fixed;
  /* bottom: 0vh; */
  /* left: 50vw; */
  /* transform: translate(-90%, 4vh); */
}

.playerName {
  display: flex;
  align-items: center;
}

input {
  max-width: 15vh;
  width: 15vh;

  margin: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
}

input:focus {
  padding: 0;
  border: 0;
  outline: none;
}

#startMenu {
  width: 48vh;
  height: 28.15vh;

  position: fixed;
  bottom: 22vh;
  left: 50vw;
  transform: translate(-50.2%, -14vh);

  display: flex;

  background-color: rgba(39, 189, 245, 0.85);
  animation: fadeIn 1s ease-in-out;
}

#startMenu ul {
  width: 50vh;
  height: 30vh;

  position: fixed;
  bottom: 0vh;
  left: 0vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  line-height: 2;
  font-size: 3.3vh;
  color: white;
}

#startMenu ul li {
  padding: 0 10px;
}

.selected {
  background-color: #fac710;
  cursor: pointer;
}

.cell {
  width: 4vh;
  height: 4vh;
  min-height: 2vh;
  min-width: 2vh;
  max-width: 4vw;
  max-height: 4vw;

  outline: 0.1vh solid black;

  background-color: #fffedc;

  /* color: #fac710; */
}

.snake {
  outline: 0.1vh solid black;

  background-color: blueviolet;
}

.food {
  width: 4vh;
  height: 4vh;
  min-height: 2vh;
  min-width: 2vh;
  max-width: 4vw;
  max-height: 4vw;

  display: flex;
  justify-content: center;
  align-items: center;

  outline: 0.1vh solid black;

  background-color: #fac710;
}

.food p {
  font-size: 2.7vh;
}

.hidden {
  display: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
